    #custom-bootstrap-menu.navbar-default .navbar-brand {
        color: rgba(0, 0, 0, 1);
    }
    #custom-bootstrap-menu.navbar-default {
        font-size: 15px;
        background-color: rgba(248, 248, 248, 0);
        border-bottom-width: 0px;
    }
    #custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
        color: rgba(255, 255, 255, 1);
        background-color: rgba(255, 255, 255, 0);
    }
    #custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
    #custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
        color: rgba(125, 125, 125, 1);
        background-color: rgba(230, 230, 230, 0.27);
    }
    #custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
    #custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
    #custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
        color: rgba(255, 255, 255, 1);
        background-color: rgba(130, 130, 130, 0.35);
    }
    #custom-bootstrap-menu.navbar-default .navbar-toggle {
        border-color: #828282;
    }
    #custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
    #custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
        background-color: #828282;
    }
    #custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
        background-color: #828282;
    }
    #custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
    #custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
        background-color: #f8f8f8;
    }   