  
/*Navbar*/
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(176, 0, 62, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 18px;
    background-color: rgba(238, 180, 200, 0);
    background: -webkit-linear-gradient(top, rgba(245, 208, 223, 0.55) 0%, rgba(238, 180, 200, 0) 100%);
    background: linear-gradient(to bottom, rgba(245, 208, 223, 0.55) 0%, rgba(238, 180, 200, 0) 100%);
    border-bottom-width: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(156, 29, 74, 1);
    background-color: rgba(238, 180, 200, 0);
    background: -webkit-linear-gradient(top, rgba(238, 180, 200, 0.02) 0%, rgba(238, 180, 200, 0) 100%);
    background: linear-gradient(to bottom, rgba(238, 180, 200, 0.02) 0%, rgba(238, 180, 200, 0) 100%);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(199, 113, 143, 1);
    background-color: rgba(238, 180, 200, 0.21);
    background: -webkit-linear-gradient(top, rgba(238, 180, 200, 0.11) 0%, rgba(238, 180, 200, 0.21) 100%);
    background: linear-gradient(to bottom, rgba(238, 180, 200, 0.11) 0%, rgba(238, 180, 200, 0.21) 100%);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(214, 124, 156, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #d67c9c;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #d67c9c;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #d67c9c;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #eeb4c8;
} 

.divGde{
  height: 600px;
}
#photos{
  height: 200px;
  width:1700px;
}
.panelNewsletter{
  color: #e076a3; //Suscribirse a la newsletter nombre email
  background-color: #d0386c;
  border-color: #e076a3;
}

.spoons01{
  background-image: url("./img/spoons.jpg");
  background-size: 100%;  
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  height: 150px;
}
.bgspoons01-inside {
  padding-top: 80.15%;
}
.spoons02{
  background-image: url("./img/spoons.jpg");
  background-size: 100%;  
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  height: 100px;
}
.bgspoons02-inside {
  padding-top: 96.80%;
}
.spoons03{
  background-image: url("./img/spoons3.jpg");
  background-size: 100%;  
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  height: 100px;
}
.bgspoons03-inside {
  padding-top: 80.15%;
}
#photos{
 height: 500px;
 width: 900px;
}
.center {
    margin: 50px;
    padding: 10px;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #d0386c;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* Bounce To Bottom */
.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #d0386c;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: white;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}


/*Letras Iniciales(2) y nuevas*/
h1.cuteH1 {
  color: #d54d7b;
  font-family: "Great Vibes", cursive;
  font-size: 120px;
  line-height: 140px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 80px;
  text-align: center;
  text-shadow:0 1px 1px #fff;
}
h2.title2 {
  color: #d0386c;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 38px;
  font-weight: bold;
  line-height: 48px;
  margin: 0 0 24px;
  text-shadow: 1px 1px 1px #452439;
}

p.cuteP {
  color: #7a7c7f;
  font-size: 22px;
  font-family: "Libre Baskerville", serif;
  line-height: 70px;
  text-align: center;
  text-shadow:0 1px 1px #fff;
  padding-top:20px;
}

p.p2 {
  color: #3c0e22;
  font-family: 'Carme', sans-serif;
  font-size: 20px;
  line-height: 25px;
  margin: 0 0 24px;
}