/*Navbar*/
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(0, 0, 0, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 16px;
    background-color: rgba(248, 248, 248, 0);
    border-width: 0px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(135, 135, 135, 0.79);
    background-color: rgba(255, 255, 255, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 0.93);
    background-color: rgba(66, 66, 66, 0.31);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(66, 66, 66, 0.71);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #424242;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #424242;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #424242;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #f8f8f8;
} 

.divGde{
  height: 500px;
}

#spoons{
   background-image: url("./img/spoons.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color.opacity: 0.1;
  height: 200px;
}
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #5c1534;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/*Letras Iniciales(2) y nuevas*/
h1.cuteH1 {
  color: #d54d7b;
  font-family: "Great Vibes", cursive;
  font-size: 165px;
  line-height: 190px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top:80px;
  text-align: center;
  text-shadow:0 1px 1px #fff;
}
h2.title2 {
  color: #d0386c;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 27px;
  font-weight: bold;
  line-height: 45px;
  margin: 0 0 24px;
  text-shadow: 1px 1px 1px #452439;
}

p.cuteP {
  color: #7a7c7f;
  font-size: 29px;
  font-family: "Libre Baskerville", serif;
  line-height: 100px;
  text-align: center;
  text-shadow:0 1px 1px #fff;
  padding-top:20px;
}

p.p2 {
  color: #3c0e22;
  font-family: 'Carme', sans-serif;
  font-size: 20px;
  line-height: 25px;
  margin: 0 0 24px;
}